* * {
    font-family: "main";
}

.container {
    width: 1136px;
    height: 640px;
    border: solid 1px #000;
    background-color: #eee;
    position: relative;
    background-image: url("background.png");
    overflow: hidden;
}

.container * {
    user-select: none;
}

.member-list {
    padding: 2px 0px;
    background-color: #fff;
    position: absolute;
    top: 46px;
    width: 100%;
}

.member-list .inner {
    box-sizing: border-box;
    border-top: solid 2px #cecbce;
    border-bottom: solid 2px #cecbce;
    height: 456px;
    background-color: #fff;
    padding-top: 3px;
    padding-left: 9px;
}

.member-list .inner .scroll {
    position: relative;
    transition: right 800ms ease-out;
}

.member-list-status-bar {
    box-sizing: border-box;
    border: solid 2px #fff;
    height: 70px;
    width: 100%;
    position: absolute;
    top: 458px;
    background-color: rgba(255, 255, 255, .75);
}

.member-list .inner .row{
    overflow-x: visible;
    white-space: nowrap;
}

.member-list .inner .row .card-icon {
    margin-bottom: 8px;
    margin-right: 8px;
}

.member-detail .image {
    position: absolute;
    left: 138px;
    top: 50px;
    width: 352px;
    height: 495px;
    background-image: url("https://raw.githubusercontent.com/kotori-archive/resource-card/main/image/3563_0.png");
    background-size: cover;
}

.member-detail .image.kill {
    left: -352px;
    opacity: 0;
    transition: left 800ms, opacity 800ms;
}

.member-detail .info-panel {
    display: block;
    box-sizing: border-box;
    padding: 2px;
    border-radius: 22px;
    background-color: #fff;
    position: absolute;
    right: 124px;
    top: 117px;
}

.member-detail .info-panel.kill {
    right: -465px;
    opacity: 0;
    transition: right 800ms, opacity 800ms;
}

.member-detail .info-panel .inner {
    box-sizing: border-box;
    border: solid 2px #cbcbcb;
    border-radius: 18px;
    padding-left: 16px;
    padding-top: 8px;
    width: 460px;
    height: 376px;
}

.member-detail .info-panel .basic {
    display: flex;
    margin-top: 14px;
    font-size: 21px;
}

.member-detail .info-panel .basic .label {
    color: #5a7e8d;
    font-weight: 600;
    text-align: right;
    width: 58px;
}

.member-detail .info-panel .basic .label div {
    margin-bottom: 9px;
}

.member-detail .info-panel .basic .values div {
    text-align: right;
}

.member-detail .info-panel .basic .values .row {
    display: flex;
    margin-bottom: 9px;
}

.member-detail .info-panel .basic .values .value {
    width: 53px;
    font-size: 23px;
    position: relative;
    top: -4px;
}

.member-detail .info-panel .basic .values .slash {
    padding-left: 4px;
    position: relative;
    top: -2px;
}

.member-detail .info-panel .basic .values .max-value {
    width: 34px;
    font-size: 18px;
    position: relative;
    top: -1px;
}

.member-detail .info-panel .skill {
    display: flex;
    margin-top: 7px;
    margin-bottom: 6px;
    font-size: 21px;
    padding-right: 10px;
}

.member-detail .info-panel .skill .label {
    color: #5a7e8d;
    font-weight: 600;
    min-width: 53px;
}

.member-detail .info-panel .skill .content {
    font-size: 18px;
    line-height: 21px;
}

.member-detail .info-panel .status-bar {
    display: flex;
    gap: 2px;
}

.member-detail .info-panel .status-bar .status {
    width: 114px;
    height: 36px;
    border-radius: 18px;
    background-color: #bfbfbf;
    text-align: center;
    position: relative;
    left: 2px;
    font-family: "status-number";
    font-size: 28px;
    padding-top: 1px;
    margin-bottom: 4px;
}

.member-detail .info-panel .status-bar .stamina {
    width: 78px;
    left: 0px;
}

.member-detail .info-panel .status-bar .smile {
    background-color: #fcc9d1;
    color: #f9639d;
}

.member-detail .info-panel .status-bar .pure {
    background-color: #99e6d8;
    color: #06c32c;
}

.member-detail .info-panel .status-bar .cool {
    background-color: #70d0eb;
    color: #09e;
}

.member-detail .info-panel .line {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAECAYAAAC3OK7NAAAACXBIWXMAAA7EAAAOxAGVKw4bAAAARUlEQVQImWP8dePx/89z9zAwMDAw8Ca7MLCqyzBgA0yf5+5h+P/tJ8P/bz8ZYBoYGBgYPk3ewvBp8haEQqzasQBGYq0GAKiwHOX3KQ6GAAAAAElFTkSuQmCC);
    height: 4px;
    width: 424px;
}

.member-detail .info-panel .school-idol-skill {
    height: 63px;
    text-align: center;
}

.button-back {
    display: inline-block;
    background-color: #fff;
    padding: 2px;
    border-radius: 27px;
    cursor: pointer;
    position: absolute;
    left: 90px;
}

.button-back .inner {
    box-sizing: border-box;
    width: 75px;
    height: 46px;
    border-radius: 23px;
    background-color: #f69;
    display: flex;
    align-items: center;
    color: #fff;
    font-weight: bold;
    letter-spacing: -7px;
    padding-left: 6px;
    font-size: 20px;
}

.button-back .inner:hover {
    background-color: #f7a;
}

.button {
    display: inline-block;
    margin: 0px 2px;
    background-color: #fff;
    overflow: hidden;
    position: relative;
    clip-path: polygon(0 15px, 0 100%, 100% 100%, 100% 0, 15px 0);
    border-radius: 18px 8px 8px 8px;
    padding: 2px;
}

.button:hover .inner {
    background-color: var(--button-hover-color) !important;
    cursor: pointer;
}

.button .inner {
    box-sizing: border-box;
    position: relative;
    width: 118px;
    height: 57px;
    background-color: #7ea;
    padding: 2px;
    clip-path: polygon(0 15px, 0 100%, 100% 100%, 100% 0, 15px 0);
    border-radius: 18px 8px 8px 8px;
}

.button .inner .label {
    box-sizing: border-box;
    background-color: #fff;
    color: #636363;
    text-shadow: #fafae9 0px 0px 2px;
    width: 114px;
    height: 24px;
    position: absolute;
    bottom: 2px;
    border-radius: 0px 0px 5px 5px;
    padding-top: 2px;
    font-size: 19px;
    text-align: center;
}

.button-common {
    box-sizing: border-box;
    width: 205px;
    height: 61px;
    border-radius: 7px;
    background-color: #fff;
    padding: 2px;
    clip-path: polygon(0 16px, 0 100%, calc(100% - 16px) 100%, 100% calc(100% - 16px), 100% 0, 16px 0);
}

.button-common .layer-0 {
    box-sizing: border-box;
    padding: 2px;
    width: 100%;
    height: 57px;
    border-radius: 6px;
    background-color: var(--button-color);
    clip-path: polygon(0 var(--cut-0), 0 100%, calc(100% - var(--cut-0)) 100%, 100% calc(100% - var(--cut-0)), 100% 0, var(--cut-0) 0);
}

.button-common .layer-1 {
    box-sizing: border-box;
    padding: 2px;
    width: 100%;
    height: 53px;
    border-radius: 5px;
    background-color: #fff;
    clip-path: polygon(0 var(--cut-1), 0 100%, calc(100% - var(--cut-1)) 100%, 100% calc(100% - var(--cut-1)), 100% 0, var(--cut-1) 0);
}

.button-common .layer-2 {
    box-sizing: border-box;
    width: 100%;
    height: 35px;
    border-radius: 4px;
    background-color: var(--button-color);
    clip-path: polygon(0 var(--cut-2), 0 100%, 100% 100%, 100% 0, var(--cut-1) 0);
    display: flex;
    align-items: center;
    color: var(--font-color);
    font-weight: bold;
    padding-left: 20px;
    text-shadow: 
        -1px -1px 0px #fff,
         0px -1px 0px #fff,
         1px -1px 0px #fff,
        -1px  0px 0px #fff,
         1px  0px 0px #fff,
        -1px  1px 0px #fff,
         0px  1px 0px #fff,
         1px  1px 0px #fff;
}

.menu-bar {
    width: 100%;
    position: absolute;
    bottom: 0px;
    height: 64px;
    text-align: center;
}

.card-icon {
    box-sizing: border-box;
    display: inline-block;
    width: 105px;
    height: 105px;
    border: solid 6px #42cd09;
    border-radius: 50%;
    background-origin: border-box;
    background-image: url("https://raw.githubusercontent.com/kotori-archive/resource-card/main/image/3563_0.png");
    cursor: pointer;
}

.card-icon .inner {
    box-sizing: border-box;
    width: 93px;
    height: 93px;
    border-radius: 50%;
    border: solid 1px #fff;
    background-color: rgb(0, 0, 0, 0);
}

.card-icon::after {
    display: inline-block;
    background-image: url("https://raw.githubusercontent.com/kotori-archive/resource-image/main/rarity_badge/smile_ur.png");
    width: 34px;
    height: 29px;
    /* content: ""; */
    position: relative;
    top: -98px;
    left: -6px;
    background-repeat: no-repeat;
    background-size: cover;
}

.interface-name {
    box-sizing: border-box;
    position: absolute;
    top: 0px;
    left: 100px;
    background-color: #fff;
    width: 330px;
    height: 40px;
    border: solid 2px #ec6b98;
    border-radius: 20px;
    padding-left: 76px;
    font-size: 22px;
    padding-top: 7px;
}

body {
    background-color: #b2b4b2;
}

.hide {
    visibility: hidden;
}

#start {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .75);
    display: flex;
    align-items: center;
    justify-content: center;
}

#start::after {
    width: 100px;
    height: 100px;
    content: "";
    border-width: 50px 0px 50px 100px;
    box-sizing: border-box;
    border-style: solid;
    border-color: transparent transparent transparent #eee;
}

#start:hover {
    cursor: pointer;
}

.notice {
    position: absolute;
    top: 278px;
    border-top: solid 2px #d4d4d4;
    border-bottom: solid 2px #d4d4d4;
    width: 100%;
    animation-name: fade-start, fade-end;
    animation-delay: 0ms, 2500ms;
    animation-duration: 200ms, 200ms;
    animation-fill-mode: forwards;
    background-color: rgba(153, 153, 153, .75);
    padding: 1px 0px;
}

.notice .inner {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    height: 62px;
    background-color: #999;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 22px;
}

.notice .inner::after {
    display: flex;
    position: absolute;
    top: 5px;
    left: 134px;
    content: "！";
    align-items: center;
    justify-content: center;
    width: 53px;
    height: 53px;
    border-radius: 50%;
    background-color: #fff;
    color: #999;
    font-weight: bold;
    font-size: 36px;
}

@keyframes fade-start {
    from { opacity: 0; }
    to { opacity: 1; }
}
@keyframes fade-end {
    to { opacity: 0; }
}

@font-face {
    font-family: status-number;
    src: url("font/Yantramanav-Bold.ttf");
}

@font-face {
    font-family: main;
    src: url("font/KosugiMaru-Regular.ttf");
}
