.container {
    width: 1136px;
    height: 640px;
    border: solid 1px #000;
    background-color: #eee;
    position: relative;
    background-image: url("background.png");
}

.member-list-outer {
    padding: 2px 0px;
    background-color: #fff;
    position: absolute;
    top: 46px;
    width: 100%;
}

.member-list-inner {
    box-sizing: border-box;
    border-top: solid 2px #cecbce;
    border-bottom: solid 2px #cecbce;
    height: 456px;
    background-color: #fff;
    padding-top: 3px;
    padding-left: 9px;
}

.member-list-status-bar {
    box-sizing: border-box;
    border: solid 2px #fff;
    height: 70px;
    width: 100%;
    position: absolute;
    top: 504px;
    background-color: rgba(255, 255, 255, .75);
}

.member-list-row .card-icon {
    margin-bottom: 8px;
    margin-right: 8px;
}

.button {
    display: inline-block;
    margin: 0px 2px;
    background-color: #fff;
    overflow: hidden;
    position: relative;
    clip-path: polygon(0 15px, 0 100%, 100% 100%, 100% 0, 15px 0);
    border-radius: 18px 8px 8px 8px;
    padding: 2px;
}

.button:hover .inner {
    background-color: var(--button-hover-color) !important;
    cursor: pointer;
}

.button .inner {
    box-sizing: border-box;
    position: relative;
    width: 118px;
    height: 57px;
    background-color: #7ea;
    padding: 2px;
    clip-path: polygon(0 15px, 0 100%, 100% 100%, 100% 0, 15px 0);
    border-radius: 18px 8px 8px 8px;
}

.button .inner .label {
    background-color: #fff;
    width: 114px;
    height: 24px;
    position: absolute;
    bottom: 2px;
    border-radius: 0px 0px 5px 5px;
    text-align: center;
    user-select: none;
}

.menu-bar {
    width: 100%;
    position: absolute;
    bottom: 0px;
    height: 64px;
    text-align: center;
}

.card-icon {
    box-sizing: border-box;
    display: inline-block;
    width: 105px;
    height: 105px;
    border: solid 6px #42cd09;
    border-radius: 50%;
    background-origin: border-box;
    background-image: url("https://raw.githubusercontent.com/kotori-archive/resource-card/main/image/3563_0.png");
    background-position: left -65px top -30px;
    background-size: 200%;
}

/* #42cd09 */
/* #db1e97 */


body {
    background-color: #b2b4b2;
}
