.container {
    width: 1136px;
    height: 640px;
    border: solid 1px #000;
    background-color: #eee;
    position: relative;
    background-image: url("background.png");
}

.member-list-outer {
    box-sizing: border-box;
    border-top: solid 2px #fff;
    position: absolute;
    top: 46px;
    height: 460px;
    width: 100%;
}

.member-list-inner {
    border-top: solid 2px #cecbce;
    border-bottom: solid 2px #cecbce;
    height: 100%;
    background-color: #fff;
}

.member-list-status-bar {
    box-sizing: border-box;
    border: solid 2px #fff;
    height: 70px;
    width: 100%;
    position: absolute;
    top: 504px;
    background-color: rgba(255, 255, 255, .75);
}

.button {
    display: inline-block;
    margin: 0px 2px;
    background-color: #fff;
    overflow: hidden;
    position: relative;
    clip-path: polygon(0 15px, 0 100%, 100% 100%, 100% 0, 15px 0);
    border-radius: 18px 8px 8px 8px;
    padding: 2px;
}

.button:hover .inner {
    background-color: var(--button-hover-color) !important;
    cursor: pointer;
}

.button .inner {
    box-sizing: border-box;
    position: relative;
    width: 118px;
    height: 57px;
    background-color: #7ea;
    padding: 2px;
    clip-path: polygon(0 15px, 0 100%, 100% 100%, 100% 0, 15px 0);
    border-radius: 18px 8px 8px 8px;
}

.button .inner .label {
    background-color: #fff;
    width: 114px;
    height: 24px;
    position: absolute;
    bottom: 2px;
    border-radius: 0px 0px 5px 5px;
    text-align: center;
    user-select: none;
}

.menu-bar {
    width: 100%;
    position: absolute;
    bottom: 0px;
    height: 64px;
    text-align: center;
}


body {
    background-color: #b2b4b2;
}
